{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">
	<img src="{% static 'img/logo.png' %}" alt="ServEase Logo" class="img-fluid mx-auto d-block" style="width: 500px;">
</div>

<div class="d-grid gap-2 col-3 mx-auto my-2">
  <button class="btn btn-primary" type="button">
  	<a href="{% url 'sign_up' %}" class="text-white" style="text-decoration: none;">Sign Up</a>
  </button>
  <button class="btn btn-primary" type="button">
  	<a href="{% url 'log_in' %}" class="text-white" style="text-decoration: none;">Log In</a>
  </button>
</div>

{% endblock %}